.vscode
.vs

.DS_Store

bin
build

wrk2/wrk
wrk2/*.[oa]
wrk2/obj/
hotelReservation/search
hotelReservation/attractions
hotelReservation/frontend
hotelReservation/geo
hotelReservation/profile
hotelReservation/rate
hotelReservation/recommendation
hotelReservation/reservation
hotelReservation/review
hotelReservation/user
